div {
  width: 400px;
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

button {
  display: inline-block;
}

button:first-of-type{
  margin-right: 100px;
}

img {
  display: block;
  margin: auto;
  border: 3px solid white;
  box-shadow: 2px 2px 2px rgba(0,0,0,.5);
  margin-bottom: 20px;
}

.rate {
  display: inline-block;
  width: 10px;
  padding: 0;
  height: 10px;
  border: 1px solid black;
  background-color: yellow;
}

.heartLike {
  width: 15px;
  height: 15px;
  border: 1px solid black;
  background-color: pink;
}
